* {
  margin: 0;
}
body {
  background-image: url('../images/sweet.jpeg');
  background-size: cover;
}
h1 {
  text-align: center;
  padding-top: 0px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3.4em;
    color: #4A197F;
}
h2 {
  text-align: center;
  padding: 18px;
  font-family: 'Sacramento', cursive;
  font-size: 3.7em;
  font-weight: bold;
}
h3, h4 {
  text-align: center;
  font-family: 'Rancho', cursive;
  font-size: 2.4em;
}
/*-- HEADER --*/
header {
  padding: 1px;
  height: 324px;
}
header .reallyInput {
  padding: 4px;
  display: block;
  margin: auto;
}
header .secondaryButtons {
  text-align: center;
  padding: 12px;
}
.enough-money {
  float: left;
  text-align: center;
}
.important {
  float: right;
  text-align: center;
}
.box {
  padding: 30px;
  display: inline-block;
  height: 200px;
  width: 400px;
}
ul {
  list-style: none;
  padding-left: 0;

}
ul .important-list {
  float: right;
}
li {
  list-style: none;
}
li.linethrough {
	text-decoration: line-through;
}

.checked, .trash {
  vertical-align: middle;
}
.enough-moneyBtn, .cant-live-button {
  font-family: 'Walter Turncoat', cursive;
  background-color: #A28EFF;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1em;
  }
  body {
    padding:0 5em;
    background-size: cover;
  }
  h2 {
    font-size: 2.2em;
  }

  @media all and not print {}
}
